@use '../../../../../styles/variables' as v;

.hero-avatar {
  border-radius: 50%;
  box-shadow: 0 0 24px 4px rgba(v.$primary-hue, 0.3);
  border: solid 2px v.$primary-hue;
  height: clamp(80px, 20vw, 150px);
  width: clamp(80px, 20vw, 150px);
  overflow: hidden;
}
