@use 'variables' as v;
@use 'mixins' as m;

.lab-card {
  @include m.card-base();
  @include m.card-interactive();
  padding: 1rem;
  width: 300px;
  display: block;
  min-height: 200px;

  &__tag {
    border-radius: 10px;
    background-color: color-mix(in srgb, v.$text-secondary 85%, transparent);
    margin-bottom: 0.75rem;
    font-size: 0.6rem;
    padding: 0.25rem;
    width: fit-content;
  }

  &__title {
    font-size: 0.95rem;
    font-weight: 700;
    color: v.$primary-hue;

    @include m.respond-to('md') {
      font-size: 0.75rem;
    }
  }

  &__bar {
    height: 1px;
    background: v.$border-subtle;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
  }
}
