<div class="header-hamburger">
  <button
    class="flex flex-center header-hamburger__btn"
    (click)="toggleDrawer()"
    [attr.aria-expanded]="isOpen()"
    aria-label="Menú"
    [attr.aria-controls]="'nav-drawer'"
    aria-label="Abrir menú de navegación"
  >
    <app-icon name="list" [size]="30" />
  </button>
  @if (isOpen()) {
    <div
      (click)="close()"
      class="flex header-hamburger__overlay flex flex-end"
      role="dialog"
      aria-modal="true"
      aria-label="Menú de navegación"
      id="nav-drawer"
    >
      <div
        class="header-hamburger__drawer flex flex-col align-end"
        (click)="stopPropagation($event)"
      >
        <button class="header-hamburger__close" (click)="close()" aria-label="Cerrar menú">
          <app-icon name="x-circle" [size]="30" />
        </button>
        <app-header-nav *appFeatureFlag="'HEADER_NAV'" (linkClicked)="close()" [vertical]="true" />
        <a routerLink="/contact" class="header-hamburger__contact w-100" (click)="close()">{{
          'NAV.CONTACT' | translate
        }}</a>
      </div>
    </div>
  }
</div>
