<section class="flex flex-col gap-md contact">
  <h2 #animRows class="contact--row contact__title">{{ 'CONTACT.TITLE' | translate }}</h2>
  <p #animRows class="contact--row contact__subtitle">{{ 'CONTACT.SUBTITLE' | translate }}</p>
  <div #animRows class="contact--row contact__social">
    <p class="contact__social-label">{{ 'CONTACT.LINKEDIN_TEXT' | translate }}</p>
    <a
      href="https://linkedin.com/in/cristian-salcedo-fullstack"
      target="_blank"
      class="flex align-center gap-sm contact__link"
    >
      <img src="assets/icons/socials/linkedin.svg" alt="Linkedin" width="20" height="20" />
      <span class="contact__node">{{ 'CONTACT.LINKEDIN_ID' | translate }}</span>
    </a>
  </div>

  <form class="flex flex-col gap-md contact__form" (submit)="onSubmit($event)">
    <div #animRow class="contact--row">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>{{ 'CONTACT.NAME' | translate }}</mat-label>
        <input
          matInput
          [formField]="contactForm.name"
          [placeholder]="'CONTACT.NAME_PLACEHOLDER' | translate"
        />
        <mat-icon matSuffix>person</mat-icon>
        @if (contactForm.name().invalid() && contactForm.name().touched()) {
          <mat-error>
            @if (
              contactForm
                .name()
                .errors()
                .some((e) => e.kind === 'required')
            ) {
              {{ 'CONTACT.ERRORS.REQUIRED' | translate }}
            }
            @if (
              contactForm
                .name()
                .errors()
                .some((e) => e.kind === 'minLength')
            ) {
              {{ 'CONTACT.ERRORS.MIN_3' | translate }}
            }
          </mat-error>
        }
      </mat-form-field>
    </div>

    <div #animRow class="contact--row">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>{{ 'CONTACT.SUBJECT' | translate }}</mat-label>
        <input
          matInput
          [formField]="contactForm.subject"
          [placeholder]="'CONTACT.SUBJECT_PLACEHOLDER' | translate"
        />
        <mat-icon matSuffix>topic</mat-icon>
        @if (contactForm.subject().invalid() && contactForm.subject().touched()) {
          <mat-error>
            @if (
              contactForm
                .subject()
                .errors()
                .some((e) => e.kind === 'required')
            ) {
              {{ 'CONTACT.ERRORS.REQUIRED' | translate }}
            }
            @if (
              contactForm
                .subject()
                .errors()
                .some((e) => e.kind === 'minLength')
            ) {
              {{ 'CONTACT.ERRORS.MIN_3' | translate }}
            }
          </mat-error>
        }
      </mat-form-field>
    </div>

    <div #animRow class="contact--row">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>{{ 'CONTACT.EMAIL' | translate }}</mat-label>
        <input matInput type="email" [formField]="contactForm.email" placeholder="...@correo.com" />
        <mat-icon matSuffix>email</mat-icon>
        @if (contactForm.email().invalid() && contactForm.email().touched()) {
          <mat-error>
            @if (
              contactForm
                .email()
                .errors()
                .some((e) => e.kind === 'required')
            ) {
              {{ 'CONTACT.ERRORS.REQUIRED' | translate }}
            }
            @if (
              contactForm
                .email()
                .errors()
                .some((e) => e.kind === 'email')
            ) {
              {{ 'CONTACT.ERRORS.EMAIL' | translate }}
            }
          </mat-error>
        }
      </mat-form-field>
    </div>

    <div #animRow class="contact--row">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>{{ 'CONTACT.MESSAGE' | translate }}</mat-label>
        <textarea
          matInput
          rows="5"
          [formField]="contactForm.message"
          [placeholder]="'CONTACT.MESSAGE_PLACEHOLDER' | translate"
        ></textarea>
        @if (contactForm.message().invalid() && contactForm.message().touched()) {
          <mat-error>
            @if (
              contactForm
                .message()
                .errors()
                .some((e) => e.kind === 'required')
            ) {
              {{ 'CONTACT.ERRORS.REQUIRED' | translate }}
            }
            @if (
              contactForm
                .message()
                .errors()
                .some((e) => e.kind === 'minLength')
            ) {
              {{ 'CONTACT.ERRORS.MIN_10' | translate }}
            }
          </mat-error>
        }
      </mat-form-field>
    </div>

    <div style="display: none">
      <input type="text" [value]="botTrap()" (input)="botTrap.set($any($event.target).value)" />
    </div>

    <div #animRows class="flex flex-center contact--row">
      <button
        class="flex flex-center gap-sm contact__cta"
        [disabled]="!contactForm().valid() || contactForm().submitting()"
        type="submit"
      >
        @if (contactForm().submitting()) {
          <span>{{ 'CONTACT.SENDING' | translate }}</span>
          <mat-spinner diameter="20" class="mr-2"></mat-spinner>
        } @else {
          <span>{{ 'CONTACT.CTA' | translate }}</span>
          <mat-icon>send</mat-icon>
        }
      </button>
    </div>
  </form>
</section>
