@use 'variables' as v;
@use 'mixins' as m;

.footerl {
  width: 350px;

  @include m.respond-to('md') {
    width: 100%;
  }

  &__title {
    color: v.$text-secondary;
    font-weight: 700;
    font-size: 0.9rem;
  }

  & a {
    display: flex;
    align-items: center;
    color: color-mix(in srgb, v.$text-primary 50%, transparent);
    transition: all 0.3s ease;
    filter: grayscale(100%);

    &:hover {
      color: v.$primary-hue;
      filter: drop-shadow(0 0 5px color-mix(in srgb, v.$primary-hue 70%, transparent))
        drop-shadow(0 0 12px color-mix(in srgb, v.$primary-hue 30%, transparent));
      text-shadow: 0 0 8px color-mix(in srgb, v.$primary-hue 40%, transparent);
    }
  }
}
