@use '../../../styles/variables' as v;
@use '../../../styles/mixins' as m;

.ai-page {
  padding: 4rem 1.5rem;
  max-width: 1200px;
  margin: 0 auto;

  @include m.respond-to(sm) {
    padding: 2rem 0rem;
  }

  &__header {
    @include m.header;
    margin-bottom: 3rem;
  }

  &__title {
    @include m.title;
  }

  &__subtitle {
    font-size: 1rem;
    color: v.$text-secondary;
    max-width: 560px;
    margin: 0 auto;
    line-height: 1.6;
  }

  &__grid {
    @include m.flex(column);
    gap: 2rem;
  }
}
