<div class="tag-selector">
  <ul class="tag-selector__list">
    @for (tag of tags(); track tag) {
      <li class="tag-selector__item">
        <button
          type="button"
          class="tag-selector__button"
          [class.tag-selector__button--active]="tag === activeTag()"
          (click)="selectTag(tag)"
        >
          {{ tag }}
        </button>
      </li>
    }
  </ul>

  <form class="tag-selector__form" (submit)="onAddTag($event)">
    <input #newTagInput type="text" class="tag-selector__input" placeholder="New tag" />
    <button type="submit" class="tag-selector__submit">Add</button>
  </form>
</div>
