@use '../../../styles/variables' as v;

.go-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  border-radius: 50%;
  background-color: v.$bg-card;
  color: v.$text-primary;
  font-size: 1rem;
  padding: 1rem;
  width: 52px;
  height: 52px;
  transition: all 0.3s ease;
  border: solid 1px v.$bg-dark;
  opacity: 0;
  pointer-events: none;

  &--visible {
    opacity: 1;
    pointer-events: auto;
  }

  &:hover {
    transform: scale(1.1);
  }
}
