:host {
  --bg-color: darkgrey;
  --text-color: black;
  --border-radius: 10px;
  --height: 100px;
  --padding: 1rem;
  --spotlight-color: white, transparent, transparent;
  width: 100%;
}

.cards-effects {
  width: 100%;
  perspective: 1000px;

  &__wrapper {
    border-radius: var(--border-radius);
    height: var(--height);
    background: var(--bg-color);
    padding: var(--padding);
    color: var(--text-color);
  }
}
