<section class="experiences">
  <div class="experiences__header">
    <h2 class="experiences__title">
      {{ 'EXPERIENCE.TITLE' | translate }}
    </h2>
  </div>
  <div class="experiences__timeline">
    @for (experience of resolvedExperiences(); track experience.id; let i = $index) {
      <div class="experiences__item" [class.experiences__item--right]="i % 2 !== 0">
        <div class="experiences__dot"></div>
        <app-experience-card class="experiences__card" [experience]="experience">
        </app-experience-card>
      </div>
    }
  </div>
</section>
