<section class="experiences">
  <div class="experiences__header">
    <h2 class="experiences__title">
      {{ 'EXPERIENCES.TITLE' | translate }}
    </h2>
  </div>
  <div class="experiences__timeline">
    @for (experience of resolvedExperiences(); track experience.id; let i = $index) {
      <div class="flex flex-between flex-start flex-wrap experiences__cards-container">
        <div class="w-100 flex flex-col flex-center">
          <span class="flex flex-center experiences__company">
            <img
              class="experiences__company-logo"
              [src]="'assets/icons/companies/' + experience.company?.logo"
              [alt]="experience.company?.name ?? ''"
            />
            {{
              experience.showCompany
                ? experience.company?.name
                : ('EXPERIENCES.PRACTICES' | translate)
            }}
          </span>
          <div class="experiences__bar"></div>
        </div>
        <div class="experiences__dot"></div>
        @for (showProjects of getCardOrder(i); track showProjects) {
          <div class="experiences__item">
            <app-experience-card
              class="experiences__card"
              [experience]="experience"
              [showProjects]="showProjects"
              [openProjectId]="openProjectId()"
              (projectClick)="onProjectClick($event)"
            />
          </div>
        }
      </div>
    }
  </div>
</section>
