@use '../../../styles/mixins' as m;
@use '../../../styles/variables' as v;

.experiences {
  &__header {
    @include m.header();
    margin-top: 4rem;
  }

  &__title {
    @include m.title();
  }

  &__timeline {
    position: relative;
    padding: 2rem 0;

    &::before {
      content: '';
      position: absolute;
      left: 50%;
      top: 0;
      bottom: 0;
      width: 2px;
      background: v.$border-subtle;
      transform: translateX(-50%);
    }

    @include m.respond-to('md') {
      &::before {
        left: 1rem;
        transform: none;
      }
    }
  }

  &__item {
    position: relative;
    width: 45%;
    margin-bottom: 3rem;

    &--right {
      margin-left: calc(50% + 3.5rem);
    }

    @include m.respond-to('md') {
      width: 85%;
      margin-left: 15%;
      &--right {
        margin-left: 15%;
      }
    }
  }

  &__dot {
    position: absolute;
    width: 14px;
    height: 14px;
    background: v.$primary-hue;
    border-radius: 50%;
    top: 1.5rem;
    right: -4rem;

    .experiences__item--right & {
      left: -4rem;
    }

    @include m.respond-to('md') {
      left: -2rem;
      right: auto;

      .experiences__item--right & {
        left: -2rem;
      }
    }
  }
}
