<IfModule mod_rewrite.c>
  RewriteEngine On

  # Redirigir a HTTPS (Opcional si ya lo hace Plesk, pero recomendado)
  RewriteCond %{HTTPS} off
  RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

  # Si el archivo o carpeta existe en el servidor, lo sirve normalmente (js, css, imágenes)
  RewriteCond %{REQUEST_FILENAME} -s [OR]
  RewriteCond %{REQUEST_FILENAME} -l [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^.*$ - [NC,L]

  # Si la ruta no existe físicamente, envía todo al index.html de Angular
  RewriteRule ^(.*) /index.html [NC,L]
</IfModule>

# Desactivar el listado de directorios por seguridad
Options -Indexes