<section class="flex flex-wrap gap-md align-start mw-1200 lab">
  <article class="w-100 lab__header">
    <h1>{{ 'LAB.TITLE' | translate }}</h1>
    <p [innerHTML]="'LAB.SUBTITLE' | translate"></p>
  </article>
  <article class="w-100 flex flex-center gap-md flex-wrap lab__content">
    @for (item of remotesComponent(); track $index) {
      <app-lab-card
        [title]="item.title"
        [tag]="getVisibilityName(item.tag)"
        [component]="item.component"
        [inputs]="item.inputs"
        *appFeatureFlag="item.tag"
      />
    } @empty {
      <div class="w-100 flex flex-center lab__content">
        <p>{{ 'LAB.NO_PROJECTS' | translate }}</p>
      </div>
    }
  </article>
</section>
